

.fondo {

    background-image: url("./img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.Letras{
font-family: "Street";
color: crimson;
text-align: center;
}

#primero{
font-size: 46px;
}

@font-face {
    font-family: "Street";
    src: url("./Font/street.otf") format("truetype");
    
}

#tabla{

    background-color: black;
    width: 600px;
    height: 800px;
    margin: auto;
    border: 10px;
    border-color: rgb(237, 175, 5);
    border-style: outset;
    border-radius: 10px;
}

 #personaje  {
    text-align: center;
    height: 45px;
    width: 40px;
    font-family: "Street";
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 18px;
    color: darkorange;
}

#primerafila {
    font-size: 40px;
    color: whitesmoke;
    opacity: 0.5;
    background-image: url(./img/fondocabecera.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    height: 45px;
    width: 40px;
    font-family: "Street";
    border: 2px solid gray;
    border-radius: 10px;
}

#segundo {
    font-size: 28px;
}

form {

    width: 600px;
    height: 1100px;
    border: 10px outset rgb(237, 175, 5);
    color: white;
    border-radius: 10px;
    margin: auto;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

fieldset{

    margin-bottom: 10px;
}

legend {

    font-family: "Street";
    font-size: 14px;
    color:  rgb(237, 175, 5);
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
    width: 560px;
}

button {

    border: 1px solid crimson;
    background-color: crimson;
    font-family: "Street";
    font-size: 18px;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin-left: 65px;
    margin-bottom: 10px;
}